<h1>Team</h1>
<div class="description">
	<label for="team_name">Name:</label>&nbsp;<%=h @team.name%><br/>
	<label for="team_motto">Motto:</label>&nbsp;<%=h @team.motto%><br/>

	<%= link_to "Edit Team Info", edit_user_team_path(current_user, @team) %>
	<%= link_to "Back", user_path(current_user) %>
</div>
