body {
	font-family : Arial, Helvetica;
	background: url(/images/new/main_background.png) repeat-x;
    background-attachment: fixed;
	margin: 0;
	padding:0;
	color : #fff;
}

#header {
	background: url(/images/new/header.png);
	background-repeat: no-repeat;
	width: 876px;
    height: 115px;
    position: relative;
    left: 100px;
    top: 0px;    	
}

#content {
    position:relative;
    left:100px;
    width: 876px;
	
}

#footer {
    font-size: 8px;
	background: url(/images/new/footer.png);
	background-repeat: no-repeat;
	width: 876px;
    height: 115px;
	text-align: center;
    position: relative;
    left: 100px;
}


#logout {
	position: relative;
    left: 750px;
    top: -60px;        
    display: block;
    width: 100px;
}
.headerText {
    position:relative;
    left:15px;
    bottom:-60px;
    width: 300px;
}

#trashBags {
	background: url(/images/new/trash_bags.png);
	background-repeat: no-repeat;
    height: 115px;
    color: #000;
    size: +1;
    width: 12em;
    display: block;
    margin-top: 30px;
}

#togetherCollected {
	position: relative;
    left: 65px;
    width: 150px;    
	text-align: right;
    white-space: nowrap;
}
#totalCollected {
	position: relative;
    left: 130px;    
    top: 30px;    
    color: #bc4700;
    font-size : 40px;
}

#what-to-do {
    margin-top: 20px;
    margin-bottom: -280px;
    display: block;
    width: 500px;
}

.steps {
	text-align: left;
    color: #bc4700;
    height: 60px;
    width: 150px;
    display: block;
}

#step1 {
	position: relative;
    left: 300px;
    bottom: 150px;    
}
#step2 {
	position: relative;
    left: 400px;
    bottom: 140px;    
}
#step3 {
	position: relative;
    left: 510px;
    bottom: 280px;    
}
#step4 {
	position: relative;
    left: 630px;
    bottom: 230px;    
}
#step5 {
	position: relative;
    left: 700px;
    bottom: 380px;    
}



#add_cleaning_event {
    color: #bc4700;
    font-size : 15px;
	font-weight: bold;	
    height: 20px;
    display: inline;
}
#add_cleaning_event a {
    color: #bc4700;
    font-size : 15px;
	font-weight: bold;	
    height: 20px;
    display: inline;
    text-decoration: none;	
}

.description {
    color: #bc4700;    
}



DIV.center {
	text-align: center;
}
DIV.right {
	text-align: right;
}
.menu {
	position: relative;
    left: 360px;
    top: 34px;    
    display: block;
    width: 500px;
}

.menuItem {
	background: url(/images/new/post_your_story_tab.png);
	background-repeat: no-repeat;    
	text-decoration: none;
	float:left;
	width: 123px;
	height: 26px;	
    text-align: center;	
    vertical-align: middle;
}
.menuItem a {
	text-decoration: none;
    position: relative;
    top: 5px;
}

.menu a:hover {
	font-weight: bold;
}
#container {
	text-align : left;
	width: 876px;
	display: block;
}
#columnR {
	float: right;
	width: 100px;
	margin:0;
	margin-right:0;
	padding:25px;
	background: #fff;
	color: #000;
}
b.black {
	background: none;
	color: #000;
	font-size: 16px;
}
h2.headline {
	background: #fff;
	text-decoration: underline;
	color: #84D02E;
}
h1.title {
	font-weight: bold;
}
.text {
	font-family : Arial, Helvetica;
	text-align : left;
	color: #000;
}


body, p, ol, ul, td {
  font-family : Arial, Helvetica;
}

a { color: #000; }
a:visited { color: #888; }
#a:hover { color: #fff; background-color:#000; }

label {
    font-size: 8px;
    font-weight: bold;    
    color: #bc4700;        
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}
div.banner {
     font-size: 8px;
     text-align: right;
}

li.list_item {
    border: 1px dotted grey;
}

tr.even td{
	background-color:#CCC;
}

tr.odd td{
	background-color:#EEE;
}


.ListTitle {
    color: #244;
    font-weigh :bold;
    font-size: larger;
}

.ListLine0 {
    background: #e0f8f8
}
.ListLine1 {
    background: #f8f8f8
}

span.in_place_editor_field {
    white-space: pre; /* CSS2 */
    white-space: -moz-pre-wrap !important; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP printers */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-wrap; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}


.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #84D02E;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #84D02E;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #84D02E;
  font-weight: bold;
  background-color: #84D02E;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

.cleaning-events {
    position: relative;
    left: 100px;
    top: 300px;    	
}

.cleaning-event {
    width: 876px;
    height: 500px;
    background: url(/images/new/entry_background.png);
    background-repeat: no-repeat;
}

.event-image {
    text-align: center;
    padding: 10px 10px 10px 10px;
    width: 300px;
    height: 200px;	
}

.event-map {
    text-align: center;
    padding: 28px 10px 10px 10px;
    width: 300px;
    height: 200px;
}
.event-location {
    color: #bc4700;
    font-size : 15px;
	font-weight: bold;	
    height: 20px;
    display: inline;
}
.event-location a {
	text-decoration: none;
    color: #bc4700;
}

.event-weight {
    white-space: nowrap;
    display: inline;
}

.event-date {
    color: #bc4700;
    font-size : 15px;
    height: 20px;
    text-align: right;
    display: inline;
}
.event-story {
    position:relative;
    left:330px;
    top:-440px;
    width: 535px;
	color : #555;
}

.event-blog {
    font-family: Verdana; 
    font-size: 85%;
    overflow: auto;
    height: 400px;
}


fieldset { border:0px solid #84D02E }

legend {
  padding: 0.2em 0.5em;
  border:1px solid green;
  color:green;
  font-size:90%;
  text-align:right;
}
