<div id="my_teams">
	<label>add existing member to my team</label>		
	<%= link_to image_tag ("add.gif", :border => 0), :controller => :stories, :action => :new %>
	<%= link_to "Post New Story", :controller => :stories, :action => :new %>
	
	
				
</div>