<div id="my_teams" class="description">
	<%= link_to image_tag ("add.gif", :border => 0), :controller => :team, :action => :new %>
	<%= link_to "Add New Team", new_user_team_path(current_user) %>
	
	<% for team in current_user.captains_teams %>
		<br/>
		<%= link_to h(team.name), edit_user_team_path(current_user) %>
	<% end%>
</div>