<div id="team_captain" style="display:<%=!@user.team_captain ? "none" : ""%>">
	<table width=100%>
		<tr>
			<td valign=top width=50%>
				<fieldset>
					<legend>
						My Teams: 
					</legend>				
					<%= render :partial => "my_teams", :object => @user %>								
				</fieldset>
			</td>
			<td valign=top width=50%>
				<fieldset>
					<legend>
						My Expeditions: 
					</legend>
					<%= render :partial => "my_expeditions", :object => @user %>			
				</fieldset>
			</td>
		</tr>
	</table>
</div>