<div id="geo_name" class="description">	
	<%if(@geo_location != nil)%>
		<fieldset>
			<legend><label>Location Name:</label></legend>
			<%= in_place_editor_field :geo_location, :name, :click_to_edit_text => "Click to Edit" %>	
		</fieldset>
	<%end%>
</div>
