<div id="<%= dom_id(story_picture)%>" class="thumbnail">
	<%= link_to_remote image_tag (url_for(:controller => "home" , :action => :picture, :id => story_picture, :thumb => "thumb")), 
		:url => {
			:controller => :home, :action => :enlarge_picture, :id => story_picture
		}
	%>
</div>
