<div id="trashBags">		
	<div id="togetherCollected">
		<font size="3">Together, we have collected:</font>
	</div>
	<div id="totalCollected">
		<b><%=@total_collected-%></b>&nbsp;lbs
	</div>
</div>				
