<div id="trashBags">		
	<div id="togetherCollected">
		<font size="2">Together, we have collected:</font>
	</div>
	<div id="totalCollected">
		<font size="3"><%=@total_collected-%></font>&nbsp;lbs
	</div>
</div>				
