<div id="logo" class="float-left">
	<%if(@sponsor.logo)%>
		<img src="<%=url_for(:controller => :sponsors , :action => :logo, :id => @sponsor.logo)%>"/>
	<%end%>
		<%form_for(
		:logo,
		:url => {:action => :upload_logo},
		:html => {
			:multipart => true, :target => "upload_logo_frame"
		}
		) do |form| %>
			<%= form.file_field :uploaded_data %><br>
			<%= hidden_field_tag :sponsor_id, "#{@sponsor.id}"%>			
			<%= submit_tag("Upload a Picture")%>
		<% end %>									
		<iframe id="upload_logo_frame" name="upload_logo_frame" style="width:0px;height:0px;border:0px" src="about:blank"></iframe>							
</div>


<br/>
<br/>
<br/>
<br/>
<br/>
