<div id="available_expeditions">
	<label>Available expeditions:</label>
	<div class="description">
		<%= select(:expedition_drop_down, :id, @my_expeditions.map {|l| [l.id == 0 ? " " : l.target_date.to_s(:date_time12) + ' ' + h(l.geo_location.name) +  ' : ' + h(l.name) + ' ', l.id]},  
		{:selected=>0}, 
		{"onchange" => remote_function(:url =>{ :action => :select_expedition},  
		:with => "'id='+value" )
	}  
	) %>
</div>
</div>
