<div id="cleaning-event-weight-<%=@story.id%>" class="event-weight">
	<%= in_place_editor_field :story, :weight, :click_to_edit_text => "Click to Edit", :external_control => 'weight' %>&nbsp;pounds.
</div>