<div id="cleaning-event-weight-<%=@cleaning_event.id%>" class="event-weight">
	<%= in_place_editor_field :cleaning_event, :weight, :click_to_edit_text => "Click to Edit", :external_control => 'weight' %>&nbsp;pounds.
</div>