<div id="cleaning-event-blog-<%=@cleaning_event.id%>" >
	<%= in_place_editor_field :cleaning_event, :blog, {}, {:rows => 25, :cols => 80, :click_to_edit_text => "Click to Edit", :external_control => 'blog'} %>
</div>
