<%#= GMap.header.html_safe %> 
<div id='add_story' class="description">
	<%= link_to image_tag "add.gif", :border => 0, :controller => :stories, :action => :new -%>
	<%= link_to "Post New Story", :controller => :stories, :action => :new %>
</div>

<div id="story-first"></div>
<%= render :partial => "story", :collection => @stories %>
<%= will_paginate @stories %>

