<h1>Expedition</h1>
<div class="description">
	<label for="expedition_name">Name:</label>&nbsp;<%=h @expedition.name%><br/>
	<label for="expedition_target_date">Target Date:</label>&nbsp;<%=h @expedition.target_date.to_s(:date_time12)%><br/>

	<%= link_to "Edit Expedition Info", edit_user_expedition_path(current_user, @expedition) %>
	<%= link_to "Back", user_path(current_user) %>
</div>
