<fb:dashboard>
  <fb:header decoration="add_border" icon="true">Clean Together</fb:header>
</fb:dashboard>

<%unless flash[:notice].blank? %>
<fb:status><%= flash[:notice] %></fb:status>
<%end%>

<%= yield  %>

